<div id="main-content" class="container">
    <div class="row">
        <!-- header has been here -->
        <div class="col-md-12">
            <table id="errors" class="table table-striped">
                <tbody id="errors">
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.hasAuthed; else authForm">
                <form class="form-inline">
                    <div class="form-group">
                        <input [(ngModel)]="this.currentMsg" name="Entering message" type="text" id="currentMsg"
                            class="form-control" placeholder="Enter message here...">
                        <input [(ngModel)]="this.currentReceiver" name="Receiver username" type="text" id="currentReceiver"
                            class="form-control" placeholder="If you want to send private message, enter receiver's username here...">
                    </div>
                    <button id="send" class="btn btn-default" (click)="onSendMsgBtnClicked(currentMsg)">Send</button>
                </form>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                    <th>Dialogue</th>
                    <!-- Loop over existing messages in dialoque -->
                    <ng-container *ngIf="this.messages">
                        <tr *ngFor="let msg of this.messages">
                            To <b>{{ msg.getSender() }}:</b> 
                            From <b>{{ msg.getReceiver() }}:</b> 
                            {{ msg.getContent() }}
                        </tr>
                    </ng-container>
                </thead>
                <tbody id="dialogue">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Templates -->
<ng-template #authForm>
    <form>
        <div class="form-group">
            <label for="fullNameINput">Full name</label>
            <input name="fullNameInput" class="form-control" id="fullNameINput" [(ngModel)]="this.inputFullName"
                placeholder="Enter your full name ...">
        </div>
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input name="userNameInput" class="form-control" id="usernameInput"
                placeholder="Enter your displayng name..." [(ngModel)]="this.inputUsername">
            <small id="emailHelp" class="form-text text-muted">Please, enter your name for the dialoque.</small>
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input name="passwordInput" type="password" class="form-control" id="passwordInput"
                [(ngModel)]="this.inputPassword" placeholder="Enter your password..">
        </div>
        <div class="form-group">
            <label for="githubLinkInput">GitHub account link</label>
            <input name="gitHubInput" class="form-control" id="githubLinkInput" [(ngModel)]="this.inputGitHubAccount"
                placeholder="Enter URL into your GitHub account...">
        </div>
        <button type="submit" [ngClass]="this.isLoginPossible() ? 'btn-primary' : 'btn-secondary' " class="btn"
            (click)="onLoginBtnClicked()">Login</button>
    </form>
</ng-template>