<app-header></app-header>
<div id="main-content" class="container">
  <div class="row">
 <!-- header has been here -->
  <div class="col-md-12">
          <table id="errors" class="table table-striped">
              <tbody id="errors">
              </tbody>
          </table>
      </div>
      <div class="col-md-6">
          <form class="form-inline">
              <div class="form-group">
                  <input [(ngModel)]="this.currentMsg" name="Entering message" type="text" id="name" class="form-control" placeholder="Enter message here...">
              </div>
              <button id="send" class="btn btn-default" (click)="onSendMsgBtnClicked(currentMsg)">Send</button>
          </form>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <table id="conversation" class="table table-striped">
              <thead>
                <th>Dialogue</th>
                <!-- Loop over existing messages in dialoque -->
                <tr *ngFor="let msg of this.messages">
                    {{ msg }}
                </tr>
              </thead>
              <tbody id="dialogue">
              </tbody>
          </table>
      </div>
  </div>
</div>
