<div id="main-content" class="container">
    <div class="row">
         <!--header has been here -->
        <div class="col-md-12">
            <table id="errors" class="table table-striped">
                <tbody id="errors">
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="this.hasAuthed; else authForm">
                <form class="form-inline">
                    <div class="form-group">
                        <input [(ngModel)]="this.currentMsg" name="Entering message" type="text" id="currentMsg"
                            class="form-control" placeholder="Enter message here...">
                        <input [(ngModel)]="this.currentReceiver" name="Receiver username" type="text" id="currentReceiver"
                            class="form-control" placeholder="Enter receiver name...">
                    </div>
                    <button id="send" class="btn btn-default" (click)="onSendMsgBtnClicked(currentMsg)">Send</button>
                </form>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                    <th>Dialogue</th>
                    
                    <ng-container *ngIf="this.messages">
                        <tr *ngFor="let msg of this.messages">
                            To <b>{{ msg.getSender() }}:</b> 
                            From <b>{{ msg.getReceiver() }}:</b> 
                            {{ msg.getContent() }}
                        </tr>
                    </ng-container>
                </thead>
                <tbody id="dialogue">
                </tbody>
            </table>
        </div>
    </div> -->
</div>
